{% extends "base.html" %}

{% block content %}

  <h1>
    TODO list
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>

  {% if task_list %}
    <ul class="list-group list-group-flush">
      {% for task in task_list %}
        <li class="list-group-item">
          <span class="font-weight-bold">{{ task.content }}</span>
          {% if task.completed %}
            <span class="font-weight-bold" style="color: green">Done</span>
          {% else %}
            <span class="font-weight-bold" style="color: red">Not done</span>
          {% endif %}
          {% if task.completed %}
            <a href="{% url 'tasks:toggle-task-done' pk=task.id %}" class="btn btn-secondary link-to-page">
              Undo
            </a>
          {% else %}
            <a href="{% url 'tasks:toggle-task-done' pk=task.id %}" class="btn btn-success link-to-page">
              Complete
            </a>
          {% endif %}
          <br>
          <small>Created: {{ task.created }}
          {% if task.deadline %}
            Deadline: {{ task.deadline }}
          {% endif %}
          </small><br>
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a href="{% url 'tasks:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'tasks:task-delete' pk=task.id %}">Delete</a>

        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tasks to do</p>
  {% endif %}

{% endblock %}
